body {
font-family: "Caprasimo", serif;
margin: 2;

}

/*Headers*/

header {
   background-color: rgb(125, 209, 16);
   padding: 1rem 10px;

}

header span{
   color: rgb(126, 0, 0);
   font-size: 1.6;
   font-weight: 700;
}

/*nav*/

nav {
   background-color: rgb(127, 255, 0);

}

nav ul{
   margin: 0;
   padding: 0 10px;
   list-style-type: none;
   display: flex;

}
nav a{
   display: block;
   padding: 1rem 2rem;
   text-decoration: none;
   font-size: 1.1;
   color: red;
   font-weight: 700;
}

nav a:hover {
   color: darkred;
   
}

nav li.active a {
   background-color: rgb(255, 255, 255);
}

div.gallery {
    display:flex;
    flex-wrap: wrap;
    gap: 20px 10px;

}
div.gallery figure {
margin:0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #b64e11;
}


/*footer*/

footer {
   background-color: rgb(125, 209, 16) ;
   text-align: center;
   padding: 0;
   font-size: .8rem;
   color: rgb(126, 0, 0);
}

footer p {
   margin: 0;
   letter-spacing: 3px;
}
